version: "3.7"
services:
  psql:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: mandroc
      POSTGRES_PASSWORD: mandroc
      POSTGRES_DB: mandroc
    volumes:
      - "psql:/var/lib/postgresql/data"
    networks:
      - mandroc
    ports:
      - "5432:5432"
  redis:
    image: redis:latest
    restart: always
    command: [ "redis-server", "--port", "6379" ]
    volumes:
      - "redis:/data"
    networks:
      - mandroc
    ports:
      - "6379:6379"
  mandroc:
    container_name: mandroc
    restart: always
    depends_on:
      - redis
      - psql
    networks:
      - mandroc
      - default
    build:
      context: .
    environment:
      # other
      SENTRY-DSN: https://8f60aea923994c8e87f3827ca139335b@o492091.ingest.sentry.io/5558758
      DISCORD-TOKEN: NzQwNjAwNzI5Njg4OTk3ODg4.XyrYLQ.dFY2ZuHVJkgxg4F4cztoLtDl8_w
      # commands
      COMMANDS_DISABLED: repair,inventory,fish,shovel,mine,chop
      # redis
      REDIS_HOST: redis
      REDIS_PORT: 6379
      # giveaways
      GIVEAWAYS_MENTION-EVERYONE: "false"
      # other ids
      IDS_GUILD: 762898486571827232
      IDS_VERIFICATION-MESSAGE: 784139980737216562
      # channel ids
      IDS_CHANNELS_LOGS: 762898487201234997
      IDS_CHANNELS_MOD-LOGS: 762898487700094992
      IDS_CHANNELS_PROJECTIONS: 762898487700094993
      IDS_CHANNELS_SUGGESTIONS: 762898487372677130
      IDS_CHANNELS_ACTIONS: 790909692313993217
      IDS_CHANNELS_VOICE: 762898487700094988
      IDS_CHANNELS_SUPPORT: 762898487372677138,762898487527473154
      # role ids
      IDS_ROLES_MUTED: 762898486932013061
      IDS_ROLES_TIMED-OUT: 763461655044554754
      IDS_ROLES_UNVERIFIED: 762898486571827235
      # level ids
      IDS_LEVELS_10: 762898486911827984
      IDS_LEVELS_20: 762898486911827985
      IDS_LEVELS_30: 762898486911827986
      IDS_LEVELS_40: 762898486911827987
      IDS_LEVELS_50: 762898486923886602
      IDS_LEVELS_60: 762898486923886603
      IDS_LEVELS_70: 762898486923886604
      IDS_LEVELS_80: 762898486923886605
      IDS_LEVELS_90: 762898486923886606
      IDS_LEVELS_100: 762898486923886607
      # permission ids
      IDS_PERMISSIONS_MEMBER: Verified Member
      IDS_PERMISSIONS_DONOR: 762898486923886611
      IDS_PERMISSIONS_HELPER: 762898486932013056
      IDS_PERMISSIONS_TRIAL-MOD: 762898486932013065
      IDS_PERMISSIONS_MOD: 762898486945251330
      IDS_PERMISSIONS_ADMIN: 762898486945251333
      IDS_PERMISSIONS_LOWER-MANAGEMENT: 762898486945251337
      IDS_PERMISSIONS_MANAGEMENT: 762898486956916747

networks:
  mandroc:
    internal: true

volumes:
  psql:
  redis:
